- include_stylesheet 'admin/tags' 

- render_region :main do |main|
  - main.edit_header do
    %h1= t('taggable.titles.new')
    %p= t('taggable.hints.new')

  - main.edit_form do
    - form_for :tag, :url => admin_tags_path, :html => { :method => "post", :multipart => true } do |form|
      = render :partial => 'form', :object => form
